*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
  /* background: var(--background-color); */
  color: var(--text-color);
  font-family: "Avenir";
  /* min-height: 100vh; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.NavBar__Desktop {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index:999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20%;
  background: #47A8BD;
  color: var(--color-two);
  visibility: visible;
  padding:5%;
}

.NavBar__Mobile {
  visibility: hidden;
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px white; */
}

.side_menu {
  display: flex;
  width: 600px;
  /* border:solid 1px white; */
  justify-content: center;
  align-items: center;
}

.Paragraphe{
  display:none;
}

.First header{
  height:100%;
}

.second.mobile.background{
  display:none;
}


.paragraphe_and_image{
  display:flex;
  width:100vw;
  height:100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-size:4em; */
  color:white;
  text-shadow:black 1px 1px;
}


.paragraphe_image{
  visibility: visible;
  /* position:absolute; */
  /* border:solid 1px black; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 2em;

  /* border:solid 1px black; */
}

.side_menu > * {
  margin: 5%;
  width: 100px;
  text-align:center;
}

.side_menu > *:hover {
  transform: scale(1.1);
  cursor: pointer;
  border-bottom:1px white solid;
}

.buttons__mobile{
    display:none;
}

.First.section{
  background:#47A8BD !important;
}

.Second__Container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /* border:solid 1px black; */
  color:#47A8BD;
}

.Second img{
  max-width:60vw;
}

.Second h2{
  margin-top:5%;
}


.Third .container{
  display:flex;
  height:100%;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  background:#F5E663;
}

..Third .container > * {
  border:solid 1px black;
  width:50%;
  height:100%;
}

.Third__Left{
  width:50%;
}

.Third__Left img{
  max-width:60%;
}


.Third__Right{
  display:flex;
  height:50%;
  flex-direction:column;
  justify-content: space-evenly;
}

.Four__Container{
  display:flex;
  justify-content: space-around;
}

.Five__Container{
  display:flex;
  justify-content: space-around;
  align-items:center;
  height:80%;
  width:80%;
  /* border:solid 1px black; */
}

.Six img{
  width:100px;
}

.Six__imgs{
   display:flex;
}

.Six__Container{
  display:flex;
  flex-direction:column;
  width:100%;
  height:80%;
  justify-content: space-evenly;
  align-items: center;
  /* border:solid 1px black; */
}




